doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/BuildMap.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDY4AAd5UmB-fuB_hEw1VWc5x1xWJQcdhA&callback=initMap')
