extends layout
block content
  div.jumbotron
    div.row.text-center#loginRow 
       h1 You Could be 
       h1 Up 
       h1 in the Clouds
    div.row.text-center
      div.col-md-4.col-md-offset-4
        div
          button#loginBtn(type='button',class='btn btn-primary btn-lg')
            a(id='login', class='button', href='/auth/facebook') Facebook Login  
              i.fa.fa-facebook-square.fa-lg
          br
          button#logoutBtn(type='button',class='btn btn-primary btn-lg')
            a(id='logout', class='button', href='/auth/logout') Logout
          br
          button#requestBtn(type='button',class='btn btn-primary btn-lg')
            a(id='request', class='button', href='/LoadUserHistory') Start My Journey 
              i.fa.fa-plane.fa-lg
        div#userInfo
          br
          span#user-info
          span#user-stat
