block content
head
	link(rel='stylesheet', href='/stylesheets/style.css')
body
	#map
	script.
		var airports1 = !{JSON.stringify(results)};
	script(type='text/javascript', src='/javascripts/BuildMapOperations.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDY4AAd5UmB-fuB_hEw1VWc5x1xWJQcdhA&callback=initMap')