extends layout
block content
  div.container#bodyContainer
    div.row.text-center
      h1 Where Are You Heading?
    div.row#requestRow
      div.col-md-4.col-md-offset-2.text-center
        form.form-horizontal#formRequest(name="submitForm",role="form",method="post",onsubmit="return validateForm();",action="/savecodes")
          fieldset
            legend My Journey
            p
              label.control-label(for='start') Start:
              input#start(type='text', name='start', placeholder="e.g. ANC")
            p#midpointGroup
            p
              label.control-label(for='destination') Destination
              input#destination(type='text', name='destination', placeholder="e.g. LAX") 
            p#buttonRow
              button#addAirport(type='button', class="btn btn-warning", onclick='addMidpoint()') Add Airport
              input#btnSubmit(type="submit",class="btn btn-primary", value="Submit", name="submit") 
      div.col-md-4.text-center
        legend My Previous Journeys
        ul#historyList
          each user in userList
            if(user.history)
              each airport in user.history
                li=airport
            else 
              li 
                h4 Start a new journey and we will keep track of it! 
    div.row.text-center
      span#user-info
      br
      span#user-stat 
      br
  script(src='http://code.jquery.com/jquery-2.1.4.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js') 
  script.
    var user = !{JSON.stringify(user === undefined ? null : user)};

    if (user == null) {
      $('#logout').css('display', 'none');
      $('#logoutBtn').css('display', 'none');
      $('#request').css('display', 'none'); 
      $('#requestBtn').css('display', 'none');       
      $('#user-info').css('display', 'none');  
      $('#user-stat').css('display', 'none'); 
    } 
    else {
      $('#login').css('display', 'none');
      $('#loginBtn').css('display', 'none');  
      $('#user-info').text("UID: " + user.uid);  
      $('#user-stat').text("FB status: connected");       
    }

    var countMidpoint = 1;
    function addMidpoint(){
      var inputName = "Midpoint"+countMidpoint;
      document.getElementById("midpointGroup").innerHTML+='<p><label for="'+inputName+'" class="control-label">'+inputName+':</label><input placeholder="e.g. JFK", type="text" id="'+inputName+'" name="'+inputName+'" /></p>';
      countMidpoint++;
    }

    function validateForm(){
      var start = document.getElementById("start").value;
      var destination = document.getElementById("destination").value;

      if(start == null || start == "" || /^[A-Za-z]{3}$/.test(start) == false ){
        alert("Start airport code is invalid. Airport codes must consist of 3 capital letters, e.g. LAX");
        return false;
      } 
      if(countMidpoint > 1){
        var i = 1;
        while (i < countMidpoint){
          var currMidpoint = "Midpoint"+i;
          var currMidpointVal = document.getElementById(currMidpoint).value;
          if(currMidpointVal == null || currMidpointVal == "" || /^[A-Z]{3}$/.test(currMidpointVal) == false ){
            alert(currMidpoint+" input is invalid. Airport codes must consist of 3 capital letters, e.g. LAX");
            return false;
          } else {
            i++;
          }
        }
      }
      if(destination == null || destination == "" || /^[A-Z]{3}$/.test(destination) == false ){
        alert("Destination airport code is invalid. Airport codes must consist of 3 capital letters, e.g. LAX");
        return false;
      }
      return true;
    }
    
    



  
