extends layout
block content
  div.container#bodyContainer
    h1.text-center My Journey
    iframe(width='800', height='600', scrolling='yes', frameborder='yes', src= 'MapView')
    table.table.table-striped.tablehover
      thead
        tr
          th Code
          th Name
          th Temperature
          th Wind Speed
      tbody
        each result in resultsList
          tr
            td=result.getCode()
            td=result.getName()
            td=result.getTemp()
            td=result.getWind()
    #fb-root
      
    div(style="text-align: center;")
      button#shareToFB(type="submit",class="btn btn-primary")
        a(href='#', onclick='postToFb()') Share My Journey on   
          i.fa.fa-facebook-square.fa-lg