body {
  padding: 50px;
  /*padding:0;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#bodyContainer{
	padding-top:40px;
	padding-left:50px;
	padding-right:50px;
}

.navbar{
	margin-bottom:0;
}

#loginContainer{
	height: 100%;
	width: 100%;
	background-size: auto 220%;
    background-position: center center;
    background-image:url(Death_to_stock_photography_wild_9.jpg);
}

#navbarTitle{
	margin:8px;
	color: #ffffff
}

#navbarTitle:hover{
	color: #ec5355
}

#loginRow{
	padding-top:100px;
}

#login, #logout, #request{
	border-style: bold;
	border-color: #ffffff;
}

#login{
	margin-top:20px;
}

#requestRow{
	padding-top:50px;
}

label{
	text-align: right;
	float:left;
	font-weight: bold;
}

div.scroll{
	background-color: #ffffff;
    width: 200px;
    height: 100px;
    overflow-y: scroll;
}

#historyList{
	list-style: none;
}

#addAirport{
	float:left;
}

#btnSubmit{
	float:right;
}

#buttonRow{
	padding-top:15px;
}

#userInfo{
	padding-top:20px;
}

.btn{
	margin-bottom:10px;
}

a{
  color: #ffffff;
}

a:hover{
	color:#ec5355;
	text-decoration:none;
}

/*Map Configuration */
html, body { 
	height: 100%; margin: 0; padding: 0; 
}


/* Map Configuration */
#map { 
	height: 100%;  
	overflow: visible;
}

